@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="conteiner">
        <div class="box">
            <h4 id="tituloPrincipal">Auditoria de sistemas</h4>
            <div class="box-medio sombra-box">
                <h4 class="subtituloBlocos">Aulas</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#tab1" data-toggle="tab" aria-expanded="true">UIA I</a>
                        <a href="#tab2" data-toggle="tab" aria-expanded="true">UIA II</a>
                        <a href="#tab3" data-toggle="tab" aria-expanded="true">UAI III</a>
                        <a href="#tab4" data-toggle="tab" aria-expanded="true">UAI IV</a>
                    </div>
                    <div class="tab-content">
                        <div class=" tab-pane active" id="tab1">
                            <div class="selecaoAulas">
                                <input type="checkbox" />Aula 1

                                <input type="checkbox" />Aula 2

                                <input type="checkbox" />Aula 3

                                <input type="checkbox" />Aula 4
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="tab2">
                            <div class="selecaoAulas">
                                <input type="checkbox" />Aula 5

                                <input type="checkbox" />Aula 6

                                <input type="checkbox" />Aula 7

                                <input type="checkbox" />Aula 8
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="tab3">
                            <div class="selecaoAulas">
                                <input type="checkbox" />Aula 9

                                <input type="checkbox" />Aula 10

                                <input type="checkbox" />Aula 11

                                <input type="checkbox" />Aula 12
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="tab4">
                            <div class="selecaoAulas">
                                <input type="checkbox" />Aula 13

                                <input type="checkbox" />Aula 14

                                <input type="checkbox" />Aula 15

                                <input type="checkbox" />Aula 16
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-medio sombra-box">
                <h4 class="subtituloBlocos">VAs</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#uia1va" data-toggle="tab" aria-expanded="true">UIA I</a>
                        <a href="#uia2va" data-toggle="tab" aria-expanded="true">UIA II</a>
                        <a href="#uia3va" data-toggle="tab" aria-expanded="true">UAI III</a>
                        <a href="#uia4va" data-toggle="tab" aria-expanded="true">UAI IV</a>
                    </div>
                    <div class="tab-content">
                        <div class=" tab-pane active" id="uia1va">
                            <div class="selecaoAulas alinhamento-centro">
                                <input type="checkbox" />
                                <label class="finalizada">Não Finalizada</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="uia2va">
                            <div class="selecaoAulas alinhamento-centro">
                                <input type="checkbox" />
                                <label class="finalizada">Não Finalizada</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="uia3va">
                            <div class="selecaoAulas alinhamento-centro">
                                <input type="checkbox" />
                                <label class="finalizada">Não Finalizada</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="uia4va">
                            <div class="selecaoAulas alinhamento-centro">
                                <input type="checkbox" />
                                <label class="finalizada">Não Finalizada</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-medio sombra-box">
                <h4 class="subtituloBlocos">Forum</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#uia1fo" data-toggle="tab" aria-expanded="true">UIA I</a>
                        <a href="#uia2fo" data-toggle="tab" aria-expanded="true">UIA II</a>
                        <a href="#uia3fo" data-toggle="tab" aria-expanded="true">UAI III</a>
                        <a href="#uia4fo" data-toggle="tab" aria-expanded="true">UAI IV</a>
                    </div>
                    <div class="tab-content">
                        <div class=" tab-pane active" id="uia1fo">
                            <div class="selecaoAulas alinhamento-centro">
                                <input class="campoNumero" type="number" min="1" />
                                <label>Quantidade de Participações</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="uia2fo">
                            <div class="selecaoAulas alinhamento-centro">
                                <input class="campoNumero" type="number" min="1" />
                                <label>Quantidade de Participações</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="uia3fo">
                            <div class="selecaoAulas alinhamento-centro">
                                <input class="campoNumero" type="number" min="1" />
                                <label>Quantidade de Participações</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="uia4fo">
                            <div class="selecaoAulas alinhamento-centro">
                                <input class="campoNumero" type="number" min="1" />
                                <label>Quantidade de Participações</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-medio sombra-box">
                <h4 class="subtituloBlocos">Exercícios</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#uia1ex" data-toggle="tab" aria-expanded="true">UIA I</a>
                        <a href="#uia2ex" data-toggle="tab" aria-expanded="true">UIA II</a>
                        <a href="#uia3ex" data-toggle="tab" aria-expanded="true">UAI III</a>
                        <a href="#uia4ex" data-toggle="tab" aria-expanded="true">UAI IV</a>
                    </div>
                    <div class="tab-content">
                        <div class=" tab-pane active" id="uia1ex">
                            <div class="selecaoAulas alinhamento-centro">
                                <input type="checkbox" />
                                <label class="finalizada">Não Finalizado</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="uia2ex">
                            <div class="selecaoAulas alinhamento-centro">
                                <input type="checkbox" />
                                <label class="finalizada">Não Finalizado</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="uia3ex">
                            <div class="selecaoAulas alinhamento-centro">
                                <input type="checkbox" />
                                <label class="finalizada">Não Finalizado</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                        <div class=" tab-pane" id="uia4ex">
                            <div class="selecaoAulas alinhamento-centro">
                                <input type="checkbox" />
                                <label class="finalizada">Não Finalizado</label>
                            </div>
                            <button class="botaoSalvar">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <h4 id="tituloPrincipal">TESTE</h4>
            <div class="box-medio">
                <h4 class="subtituloBlocos">Aulas</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas">
                        <input type="checkbox" />Aula 1

                        <input type="checkbox" />Aula 2

                        <input type="checkbox" />Aula 3

                        <input type="checkbox" />Aula 4
                    </div>

                    <button class="botaoSalvar">Salvar</button>
                </div>
            </div>
            <div class="box-medio">
                <h4 class="subtituloBlocos">VAs</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas alinhamento-centro">
                        <input type="checkbox" />
                        <label class="finalizada">Não Finalizada</label>
                    </div>
                    <button class="botaoSalvar">Salvar</button>
                    <br />
                </div>
            </div>
            <div class="box-medio">
                <h4 class="subtituloBlocos">Forum</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas alinhamento-centro">
                        <input class="campoNumero" type="number" min="1" />
                        <label>Quantidade de Participações</label>
                    </div>
                    <button class="botaoSalvar">Salvar</button>
                    <br />
                </div>
            </div>
            <div class="box-medio">
                <h4 class="subtituloBlocos">Exercícios</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas alinhamento-centro">
                        <input type="checkbox" />
                        <label class="finalizada">Não Finalizado</label>
                    </div>
                    <button class="botaoSalvar">Salvar</button>
                    <br />
                </div>
            </div>
        </div>
        <div class="box">
            <h4 id="tituloPrincipal">TESTE</h4>
            <div class="box-medio">
                <h4 class="subtituloBlocos">Aulas</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas">
                        <input type="checkbox" />Aula 1

                        <input type="checkbox" />Aula 2

                        <input type="checkbox" />Aula 3

                        <input type="checkbox" />Aula 4
                    </div>

                    <button class="botaoSalvar">Salvar</button>
                </div>
            </div>
            <div class="box-medio">
                <h4 class="subtituloBlocos">VAs</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas alinhamento-centro">
                        <input type="checkbox" />
                        <label class="finalizada">Não Finalizada</label>
                    </div>
                    <button class="botaoSalvar">Salvar</button>
                    <br />
                </div>
            </div>
            <div class="box-medio">
                <h4 class="subtituloBlocos">Forum</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas alinhamento-centro">
                        <input class="campoNumero" type="number" min="1" />
                        <label>Quantidade de Participações</label>
                    </div>
                    <button class="botaoSalvar">Salvar</button>
                    <br />
                </div>
            </div>
            <div class="box-medio">
                <h4 class="subtituloBlocos">Exercícios</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas alinhamento-centro">
                        <input type="checkbox" />
                        <label class="finalizada">Não Finalizado</label>
                    </div>
                    <button class="botaoSalvar">Salvar</button>
                    <br />
                </div>
            </div>
        </div>
        <div class="box">
            <h4 id="tituloPrincipal">TESTE</h4>
            <div class="box-medio">
                <h4 class="subtituloBlocos">Aulas</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas">
                        <input type="checkbox" />Aula 1

                        <input type="checkbox" />Aula 2

                        <input type="checkbox" />Aula 3

                        <input type="checkbox" />Aula 4
                    </div>

                    <button class="botaoSalvar">Salvar</button>
                </div>
            </div>
            <div class="box-medio">
                <h4 class="subtituloBlocos">VAs</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas alinhamento-centro">
                        <input type="checkbox" />
                        <label class="finalizada">Não Finalizada</label>
                    </div>
                    <button class="botaoSalvar">Salvar</button>
                    <br />
                </div>
            </div>
            <div class="box-medio">
                <h4 class="subtituloBlocos">Forum</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas alinhamento-centro">
                        <input class="campoNumero" type="number" min="1" />
                        <label>Quantidade de Participações</label>
                    </div>
                    <button class="botaoSalvar">Salvar</button>
                    <br />
                </div>
            </div>
            <div class="box-medio">
                <h4 class="subtituloBlocos">Exercícios</h4>
                <div class="box-pequeno">
                    <div class="topnav">
                        <a href="#">UIA I</a>
                        <a href="#">UIA II</a>
                        <a href="#">UAI III</a>
                        <a href="#">UAI IV</a>
                    </div>
                    <div class="selecaoAulas alinhamento-centro">
                        <input type="checkbox" />
                        <label class="finalizada">Não Finalizado</label>
                    </div>
                    <button class="botaoSalvar">Salvar</button>
                    <br />
                </div>
            </div>
        </div>
    </div>
    
</div>

